extends layout

block content
  h1= title
  
  div(id="message-container" class="container")
    each message in messages
      div(class="divider")
      div(id="description" class="section ")
        h4= message.description
        p To see the owner of this message, 
          a(href='/sign-up') Sign Up
