extends layout

block content
  h1= title
  
  div(id="message-container" class="container")
    each message in messages
      div(class="divider")
      div(id="description" class="section ")
        h4= message.description
        if currentUser
          if currentUser.membership_status === true
            each author in authors
              if author.id === message.owner.toString()
                p - #{author.first_name} #{author.last_name}
          else
            p To see the owner of this message, type the 
              a(href='/secret') Secret
