body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

h1 {
	text-align: center;
	margin-bottom: 1em;
}

#submit {
	display: block;
	margin: auto;
}

#secretmessagelink {
	display: block;
	width: 60%;
	margin: 5em auto 0 auto;
}

#logout {
	float: right;
}

#user-name {
	text-align: center;
}

#message-container {
	text-align: center;
}

#description {
	margin: auto;
	width: 25em;
}
